<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizador de Quiz</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Atualize um Quiz</h1>
        <form id="quiz-form">
            <!-- Quiz Title -->
            <div class="form-group">
                <label for="quiz-title">Título do Quiz</label>
                <input type="text" 
                       class="form-control" 
                       id="quiz-title" 
                       name="quiz_title" 
                       placeholder="Preencha o título do Quiz" 
                       value="{{ quiz_data.title }}" 
                       required 
                       aria-label="Título do Quiz">
            </div>

            <!-- Questions Container -->
            <div id="questions-container">
                {% for question in quiz_data.questions %}
                {% set i = loop.index %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Questão</h5>
                        <div class="form-group">
                            <label for="question[{{ i }}]">Texto da Questão:</label>
                            <input type="text" 
                                   class="form-control" 
                                   id="question[{{ i }}]" 
                                   name="question[{{ i }}][question_text]" 
                                   placeholder="Texto da questão" 
                                   value="{{ question.question_text }}" 
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Opções:</label>
                            {% for answer in question.answers %}
                            {% set j = loop.index %}
                            <div class="form-check">
                                <input class="form-check-input" 
                                       type="radio" 
                                       id="question[{{ i }}]option[{{j}}]" 
                                       name="question[{{ i }}][question_answer]" 
                                       value="{{ answer.nm_answer_option }}" 
                                       {% if answer.is_correct %}checked{% endif %} 
                                       required>
                                <label class="form-check-label" for="question[{{ i }}]option[{{j}}]">
                                    {{ answer.nm_answer_option }}: 
                                    <input type="text" 
                                           class="form-control d-inline w-75" 
                                           name="question[{{ i }}][options][{{ answer.nm_answer_option }}]" 
                                           placeholder="Opção {{ answer.nm_answer_option }}" 
                                           value="{{ answer.answer_text }}" 
                                           required>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-danger btn-sm" onclick="removeQuestion(this)">Remova a questão</button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Add Question Button -->
            <button type="button" class="btn btn-primary mb-3" onclick="addQuestion()">Adicionar Pergunta</button>
            
            <!-- Submit Button -->
            <button type="submit" class="btn btn-success mb-3">Enviar Quiz</button>
        </form>
    </div>

    <!-- JavaScript for Adding Questions -->
    <script>
        let questionCount = {{ quiz_data.questions | length }};
        

        console.log('Initial question count:', questionCount);


        document.getElementById("quiz-form").addEventListener("submit", async function(event) {
            event.preventDefault();

            const quizTitle = document.getElementById('quiz-title').value;

            const questions = Array.from(document.querySelectorAll('#questions-container .card')).map((card, index) => {

                const questionText = card.querySelector(`input[name="question[${index+1}][question_text]"]`).value;
                const options = {};
                const correctOption = card.querySelector(`input[name="question[${index+1}][question_answer]"]:checked`)?.value;
                card.querySelectorAll('.form-check').forEach(option => {
                    const key = option.querySelector('input.form-check-input').value;
                    const value = option.querySelector('input.form-control').value;
                    options[key] = value;
                });
                return {
                    question_text: questionText,
                    answers: Object.entries(options).map(([key, value]) => ({
                        answer_text: value,
                        is_correct: key === correctOption,
                        nm_answer_option: key
                    }))
                };
                
                
            });
        
            const payload = { quiz_title: quizTitle, questions }
            
            try {
                const response = await fetch("{{ url_for('specific_quiz_route', quiz_id=quiz_data.quiz_id) }}", {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(payload)
                });

                if (response.ok) {
                    const result = await response.json();
                    alert(result.message);
                    window.location.href = "{{ url_for('home') }}";
                } else {
                    const error = await response.json();
                    alert(`Error: ${error.message}`);
                }
            } catch (error) {
                console.error('Error occurred:', error);
                alert('Failed to update the quiz. Please try again.');
            }
            
        });

        function addQuestion() {
            questionCount++;
            
            const container = document.createElement('div');
            container.className = 'card mb-3';

            container.innerHTML = `
            <div class="card-body">
                        <h5 class="card-title">Questão</h5>
                        <div class="form-group">
                            <label for="question[${questionCount}]">Texto da Questão:</label>
                            <input type="text" class="form-control" 
                            id="question[${questionCount}]" 
                            name="question[${questionCount}][question_text]" 
                            placeholder="Texto da questão" 
                            value="" required="">
                        </div>
                        <div class="form-group">
                            <label>Opções:</label>
                            ${['A', 'B', 'C', 'D'].map((option,index) => `
                                <div class="form-check">
                                    <input class="form-check-input" 
                                    type="radio" 
                                    id="question[${questionCount}]option[${index+1}]"
                                    name="question[${questionCount}][question_answer]" 
                                    value="${option}" required="">
                                    <label class="form-check-label" for="question[${questionCount}]option[${index+1}]">
                                        ${option}: 
                                        <input type="text" 
                                        class="form-control d-inline w-75" 
                                        name="question[${questionCount}][options][${option}]" 
                                        placeholder="Opção ${option}" 
                                        value="" required="">
                                    </label>
                                </div>`).join('')
                            }
                            
                        </div>
                        <button type="button" class="btn btn-danger btn-sm" onclick="removeQuestion(this)">Remova a questão</button>
                    </div>
            `;
            document.getElementById('questions-container').appendChild(container);
        }

        function removeQuestion(button) {
            button.closest('.card').remove();
        }
    </script>

    <!-- Bootstrap JS and Dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
