<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            height: 100vh;
        }

        ._container {
            display: flex;
            flex-direction: column;
            width: 100%;
            
            
        }
        .navbar {
            background-color: #1E90FF;
        }
        
        .navbar a {
            color: yellow;
        }

        
    </style>
   
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="_container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    Quiz Time
                </a>
                <button class="btn btn-outline-light ms-auto" id="logoutButton">Sair</button>
            </div>
        </nav>
    
        <div class="container mt-4">
            <h1 class="mb-4">Bem vindo à Plataforma!</h1>
    
            <div class="d-flex flex-row-reverse mb-4">
                
                <div>
                    <button class="btn btn-primary" id="createQuizButton">Criar Quiz</button>
                </div>
                
            </div>
    
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Quiz</th>
                            <th>Ações</th>
                            <th>Link para entrada</th>
                        </tr>
                    </thead>
                    <tbody id="quizList">
                        {% if quizzes %}
                            {% for quiz in quizzes %}
                            <tr data-quiz-id="{{ quiz.quiz_id }}">
                                <td>{{ loop.index }}</td>
                                <td>{{ quiz.title }}</td>
                                <td>
                                    <button class="btn btn-warning btn-sm editQuizButton">Editar</button>
                                    <button class="btn btn-success btn-sm actionButton">Novo Jogo</button>
                                    <button class="btn btn-info btn-sm gameButton">Iniciar Jogo</button>
                                    <button class="btn btn-danger btn-sm deleteQuizButton">Deletar Quiz</button>
                                </td>
                                <td class="linkCell"></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4">Nenhum quiz criado ainda</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div>
                <button class="btn btn-danger" id="StopQuizButton">Parar jogos em andamento</button>
            </div>
            
        </div>
    

    </div>
    

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScript with jQuery -->
    <script>
        $(document).ready(function() {
            $('#createQuizButton').on('click', function(event) {
                event.preventDefault();
                const createQuizUrl = "/quiz";

                $.ajax({
                    url: createQuizUrl,
                    method: "GET",
                    dataType: "html",
                    success: function(data) {
                        console.log(data.message)
                        window.location.href = createQuizUrl;
                    },
                    error: function(xhr) {
                        alert(`Error: ${xhr.responseJSON.message}`);
                    }
                });
            });

            $('#quizList').on('click', '.editQuizButton', function() {
                const quizId = $(this).closest('tr').data('quiz-id');
                window.location.href = `/quiz/${quizId}`;
            });

            $('#quizList').on('click', '.actionButton', function() {
                const row = $(this).closest('tr');
                const quizId = row.data('quiz-id');
                //const isActive = $(this).hasClass('btn-danger');
                //const action = isActive ? "desativar" : "ativar";

                if (confirm(`Tem certeza que quer começar um novo jogo ?`)) {
                    const endpoint = `/quiz/${quizId}/active`;

                    $.ajax({
                        url: endpoint,
                        method: "GET",
                        dataType: "json",
                        success: function() {
                            const actionButton = row.find('.actionButton');
                            const linkCell = row.find('.linkCell');
                            const quizLink = `${window.location.origin}/quiz/${quizId}/join`;
                            linkCell.html(`<a href="${quizLink}" target="_blank" class="link_quiz_ativo">${quizLink}</a>`);
                        },
                        error: function(xhr) {
                            if (xhr.status === 401) {
                                alert(`${xhr.responseJSON.message}`);
                                const linkCell = row.find('.linkCell');
                                const quizLink = `${window.location.origin}/quiz/${quizId}/join`;
                                linkCell.html(`<a href="${quizLink}" target="_blank" class="link_quiz_ativo">${quizLink}</a>`);
                            }else if (xhr.status === 405){
                                alert(`${xhr.responseJSON.message}`);
                            }else{
                                alert(`Erro: ${xhr.responseJSON.message}`);
                            }
                            
                        }
                    });
                }
            });

            $('#quizList').on('click', '.gameButton', function() {
                const quizId = $(this).closest('tr').data('quiz-id');
                const apiUrl = `/start_quiz/${quizId}`;

                if (confirm(`Esta certo que quer iniciar o jogo?`)){
                        $.ajax({
                        url: apiUrl,
                        method: "POST",
                        dataType: "json",
                        success: function(data) {
                            alert(data.message);
                        },
                        error: function(xhr) {
                            alert(`Erro ao iniciar o quiz: ${xhr.responseJSON.message}`);
                        }
                    });

                }
            });


            $('#quizList').on('click', '.deleteQuizButton', function() {
                const quizId = $(this).closest('tr').data('quiz-id');

                if (confirm(`Esta certo que quer deletar este quiz ?`)) {
                    $.ajax({
                        url: `/quiz/${quizId}`,
                        method: "DELETE",
                        dataType: "json",
                        success: function(result) {
                            alert(result.message);
                            window.location.href = "/";
                        },
                        error: function(xhr) {
                            alert(`Error: ${xhr.responseJSON.message}`);
                        }
                    });
                }
            });

            $('#logoutButton').on('click', function(event) {
                event.preventDefault();
                const logoutUrl = "/logout";

                $.ajax({
                    url: logoutUrl,
                    method: "POST",
                    dataType: "json",
                    success: function() {
                        window.location.href = "/login";
                    },
                    error: function(xhr) {
                        alert(`Error: ${xhr.responseJSON.message}`);
                    }
                });
            });

            $('#StopQuizButton').on('click', function(event) {
    event.preventDefault();

    const stopQuizUrl = "/stop-quiz";

    if (confirm(`Está certo que quer parar o jogo em andamento?`)) {
        $.ajax({
            url: stopQuizUrl,
            method: "POST",
            dataType: "json",
            success: function(result) {
                alert(result.message);

                // Limpa o conteúdo das células com classe 'linkCell'
                $('td.linkCell').empty(); // Garante que todas as células com essa classe sejam esvaziadas
            },
            error: function(xhr) {
                alert(`Error: ${xhr.responseJSON.message}`);
            }
        });
    }
});


        });
    </script>
</body>
</html>
